<div id="hd" role="banner">
  <div id="banner">
     <a href="/"><img src="/images/banner.png" titl="logo"/></a>
  </div>
  <div id="top-nav">
     <%= render_menu :from_top => 0, :depth => 2, :show_all_siblings=> true %>
  </div>
</div>





